body {
	background: url('/static/assets/just_white.jpg'); 
	background-size: cover;
	font-family: sans-serif;
	text-align: center;
}

.content {
	padding: 50px 200px;
}

h1 {
	color: black;
	font-size: 90px;
	text-align: center;
	padding-top: 100px;
	padding-bottom: 100px;
}

#search-form {
	background-color: black;
	color: white;
	font-weight: bold;
	padding: 18px;
	border: none;
	text-align: left;
	outline: none;
	font-size: 24px;
}

