{% load staticfiles %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
		<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    	<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    	<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

		<title>My Bookstore</title>
		<script src="{% static 'js/script.js' %}"></script>
		<link rel="stylesheet" type="text/css" href="{% static 'css/style.css'%}">
		<link rel = "stylesheet" href = "{% static 'css/bootstrap-4.3.1-dist/css/bootstrap.css' %}">
	</head>
	<body>
		<div class="content">
			<h1>Find Book</h1>
			<div id="searchBox">
				<form method="GET" id="search-form">
					{{ searchbar }}
					<button type="submit" value="submit" id="searchButton">Search</button>
				</form>
			</div>					
			<div id="results">	
				<table id="search-content" class="table table-bordered">
					<thead class="thead-dark">
						<tr>
							<th scope = "col">#</th>
							<th scope = "col">Gambar</th>
							<th scope = "col">Judul</th>
							<th scope = "col">Deskripsi</th>
							<th scope = "col">Author</th>
						</tr>
					</thead>					
				</table>
			</div>
		</div>
			
		
	</body>
</html>